*,
::before,
::after {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

body {
  height: 100vh;
  font-family: "Open Sans", system-ui;
  line-height: 1.5;
}

._container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.header-title {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  text-transform: capitalize;
  letter-spacing: 3px;
  text-align: center;
  padding-bottom: 10px;
}

.header-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
  background: hsl(36.47deg 46.79% 57.25%);
}

.nav-menu {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.nav-menu-link {
  display: inline-block;
  padding: 6px 12px;
  border: 2px solid #c59d5f;
  text-decoration: none;
  text-transform: capitalize;
  color: #c59d5f;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: default;
  transition: all ease-in-out 0.28s;
}

.nav-menu-link:hover:not(.nav-menu-link.active-btn) {
  cursor: pointer;
  background: #c59d5f;
  color: #fff;
}

.nav-menu-link.active-btn {
  background: #c59d5f;
  color: #fff;
}

.section-menu {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.article-menu-item {
  flex: 1 0 420px;
  display: flex;
  gap: 20px;
}

.menu-item-img {
  width: 225px;
  height: 175px;
  border: 5px solid #c59d5f;
  border-radius: 10px;
  object-fit: cover;
}

.menu-item-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 680px) {
  .article-menu-item {
    flex-wrap: wrap;
    flex: 0 1 400px;
  }

  .menu-item-img {
    height: 200px;
    width: 100%;
  }
}

.menu-item-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dashed hsl(210, 22%, 49%);
  font-family: "Roboto", sans-serif;
}

.menu-item-title {
  color: hsl(209, 61%, 16%);
  text-transform: capitalize;
  letter-spacing: 5px;
}

.menu-item-price {
  color: #c59d5f;
}

.menu-item-description {
  color: hsl(210, 22%, 49%);
}
